* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: -apple-system, "Lato", "Montserrat", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}


.todo {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  font-size: 14px;
  color: #2d334a;

  &__sidebar {
    background-color: #fbe3b9;
    width: 250px;
    // height: 100%;
    border-right: 1px solid darken(#fbe3b9, 7%);
    padding: 60px 20px;
  }

  &__tasks {
    flex: 1;
    background-color: darken(#fff3de, 5%);
    overflow: auto;
 
  }
}


.field {
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;

  &:focus {
    border-color: #dbdbdb
  }
}

.button {
  background: #4DD599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background: darken(#4DD599, 2%)
  }
  &:active {
    background: darken(#4DD599, 10%)
  }
  &:disabled {
    background-color: #aeaeae;
  }
  &--cancel {
    background: #fab696;
    color: #2d334a;
    &:hover {
      background: darken(#fab696, 2%)
    }
    &:active {
      background: darken(#fab696, 6%)
    }
  }
  
}